.task {
  display: flex;
  justify-content: space-between;
}

.borrar {
  display: none;
  cursor: pointer;
}

.task:hover .borrar {
  display: inline;
}
.container {
    margin-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
}
.pendientes {
    margin-top: 5px;
    margin-left: 17px;
    font-size: 13px;
}
body {
    background-color: rgb(54, 54, 54);
    color: white;
}